<h2>Stock Details</h2>
<hr></hr>
<div>
	<section>
		<div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="panel-heading row">
  				<!-- search box container-->
  			</div>
  			<ul>
  				<li class="table-heading">
  					<div class="col-xs-3">Ticker</div>
	  				<div class="col-xs-3">Price</div>
	  				<div class="col-xs-4">Since last updated</div>
	  				<div class="col-xs-2">Details</div>
  				</li>
  				<li ng-repeat="data in stockData track by $index">
  					<div class="col-xs-3">{{data.name}}</div>
	  				<div class="col-xs-3" ng-style="background-color:{data.color}">{{data.price}}</div>
	  				<div class="col-xs-4">Since last updated</div>
	  				<div class="col-xs-2"><button></button></div>
  				</li>
  			</ul>
		</div>
	</section>
</div>
