<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><b>Live Stock App</b></a>
       <div class="form-group">
     <input type="text" class="form-control" placeholder="Search" ng-model="searchItem" >
  </div>
    </div>
   
  </div><!-- /.container-fluid -->
</nav>

<div class="content">
	<section>
		<div class="panel panel-default">
  		<!-- Default panel contents -->
  			<div class="details-header row well">
  				<!-- search box container-->
          <div class="col-xs-3"><b>Ticker</b></div>
          <div class="col-xs-3"><b>Price</b></div>
          <div class="col-xs-2"><b>Status</b></div>
          <div class="col-xs-4"><b>Since last updated</b></div>
  			</div>
  			<div class="stock-data-container">
          
  				<div class="stock-data-row row well" ng-repeat="data in stocksData| filter:{'name' : searchItem}">
  					<div class="col-xs-3 row-item "><span class="stock-name">{{data.name}}</span></div>
	  				<div class="col-xs-3 row-item">{{data.price}}</div>
            <div class="col-xs-2 row-item">
                <span ng-if="data.color!=='red'" class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                <span ng-if="data.color==='red'" class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
            </div>
	  				<div class="col-xs-4 row-item">{{data.elapsed}}</div>
  			</div>
		</div>
	</section>
</div>
