.stock-data-row{
	list-style-type: none !important;
	#border: 0.5px solid rgba(0,0,0,0.3);
	#border-bottom: 0.25px solid rgba(0,0,0,0.3);
	#border-top: 0.25px solid rgba(0,0,0,0.3);
	padding: 5px 0 5px 0;
	#height: 50px;
	line-height: 50px;
	vertical-align: center;
	font-size: 1.2em;
}
.row-item{
	height: 50px;
	padding-left: 25px;
}
.content{
	padding-top: 70px;
}
.stock-data-container{
	padding: 0;
}
.panel-heading{
	padding: 0
}
.glyphicon-arrow-down{
	color: red;
	font-size: 1.5em;
}
.glyphicon-arrow-up{
	color: green;
	font-size: 1.5em;	
}
.details-button{
	height:50px;
	border:0;
	box-shadow: none;
	background-color: transparent;
}
.stock-name{
	font-size: 1.5em;
	padding-left: 25px;
}
.details-header{
	background-color: #f5f5f5;
	border-color: #ddd;
	height:70px;
	font-size: 1.5em;
}
.navbar-inverse{
	background-image: linear-gradient(to bottom,#de6464 0,#222 100%)!important;
	height: 70px !important;
	line-height: 70px;
}
.navbar-inverse a{
	font-size: xx-large !important;
	color: white !important;
	padding-top: 25px;
}

.navbar-header{
	display: flex;
	flex-direction: row;
	justify-content: space-around !important;
}
.navbar-header .form-group{
	padding-top: 20px;
	padding-left: 40px;
}
.navbar-header .form-control{
	width: 400px !important;
}
.graph-container{
	height: 700px;
	padding: 20px;
	padding-bottom:100px;
	transition: 1s ease-in all;
}
button:focus {outline:0;}
